:root{
    --bg-color-primary:#DBE9ED;
    --bg-color-secondary:#fff;
    --color-accent:#15E4F1;
    --text-color-primary:#0000;
}

body {
    background-color: var(--bg-color-primary);
}

.header__img {
    width: 70px;
    height: 2.7rem;
}

/* Color de los links del nav */
.nav-link:hover{
    color: var(--color-accent);
}

.navbar .nav-link.active {
    color: var(--color-accent);

}
/* Color del botón success */
.btn-success{
    color: var(--text-color-primary);
}
.btn-success:hover{
    color: var(--text-color-primary);
}

.container {
    background-color: var(--bg-color-secondary);
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.container__color {
    background-color: rgb(255, 255, 255);
}


.btn-primary {
    background-color: var(--color-accent);
    border: none;
    color: var(--text-color-primary);
}

.secondary_button {
    background-color: var(--text-color-primary);
    color: var(--bg-color-primary);
}

.section__img {
    width: 80%;
    height: auto;
}

.card_style {
    background-color: var(--color-accent);
}

.card {
    margin: 20px;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.2s;
}

.card:hover {
    transform: scale(1.05);
}

.enviar {
    color: #32A2F3;
    text-decoration: none;
    font-size: 20px;
}

.section__img {
    width: 80%;
    height: 20rem;
}

.btn-primary:hover {
    background-color: #00A7D9;
}

@media (max-width:550px) {
    .section__img {
        width: 100%;
        height: 100%;
    }
}

/* Estrellas del formulario*/

.ec-stars-wrapper {
    font-size: 0;
    display: inline-block;
}

.ec-stars-wrapper a {
    text-decoration: none;
    display: inline-block;
    /* Volver a dar tamaño al texto */
    font-size: 32px;
    font-size: 2rem;

    color: #888;
}

.ec-stars-wrapper:hover a {
    color: rgb(232, 242, 50);
}

.ec-stars-wrapper>a:hover~a {
    color: #888;
}

.modal-content formularioCalificacionModal {
    background-color: #fff;
    margin: 5% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 400px;
    border-radius: 8px;
    position: relative;
}

.rating-form h2 {
    margin-top: 20px;
    text-align: center;
}

.rating-form textarea {
    width: 100%;
    height: 150px;
    margin: 10px 0;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    resize: none;
}