{% extends "principal/landing.html" %} 
{% load static %} 
{% block tituloApp%}Detalle del recorrido{% endblock tituloApp %} 
{% block contenido %}
<section class="my-3 px-2">
  <div class="container py-4 my-5 container__color rounded-4">
    <h3 class="fw-bolder text-center">Detalle del recorrido</h3>
    <p class="text-center">Aqui se muestran todos los detalles del recorrido</p>
    <div class="row justify-content-center py-3 my-3">
      <div class="col-md-4 col-sm-12 ps-md-5 py-4">
        <p><span class="fw-bolder ps-2">Costo:</span> ${{recorrido.costo}}</p>
        <p><span class="fw-bolder ps-2">Ciudad:</span> {{recorrido.ciudad}}</p>
        <p><span class="fw-bolder ps-2">Fecha:</span> 05/06/2024</p>
        <p>
          <span class="fw-bolder ps-2">Punto de inicio:</span>
          {{recorrido.punto_inicio}}
        </p>
        <p><span class="fw-bolder ps-2">Hora de salida:</span> 9:00 am</p>
        <p><span class="fw-bolder ps-2">Hora de llegada:</span> 2:30pm</p>
        <p>
          <span class="fw-bolder ps-2">Estado de recorrido:</span> {% if recorrido.activo %}Próximo{% else %}Finalizado{% endif %}
        </p>
      </div>
      <div
        class="col-md-6 col-sm-12 text-md-end text-center justify-content-sm-center"
      >
        <img src="{{recorrido.foto_zona_visitar.url}}" class="img-fluid w-75
        h-100 rounded-2" alt="">
      </div>
    </div>
    {% if recorrido.activo == False and sesion != None%}
    <div class="row">
      <div class="d-flex justify-content-evenly">   
        <a href="{% url "RegistrarCalificacion" recorrido.id_recorrido sesion.id_inscripcion %}"  class="btn btn-info px-4 fw-bold"
        data-bs-toggle="modal"
        data-bs-target="#formularioCalificacionModal">Calificar</a>
        <a href="{% url "MostrarParticipantes" recorrido.id_recorrido %}"  class="btn btn-info px-4 fw-bold"
          data-bs-toggle="modal"
          data-bs-target="#participantesModal">Ver participantes</a>
          {% if comentario_exitoso %}
                <div class="alert alert-success col-8 mx-auto mt-4">
                 <p>Comentario realizado correctamente!</p>
                </div>
          {% endif %}
          {% elif recorrido.activo == True and exitoso == True%}
            <div class="row">
              <div class="d-flex justify-content-center">
                <a href="{% url "MostrarParticipantes" recorrido.id_recorrido %}"  class="btn btn-info px-4 fw-bold"
                   data-bs-toggle="modal"
                  data-bs-target="#participantesModal">Ver participantes</a>
                </div>
                <div class="alert alert-success col-8 mx-auto mt-4">
                 <p>Inscrito correctamente!</p>
                </div>
            </div>
      </div>
    </div>
    {% else %}
    <div class="row">
      <div class="d-flex justify-content-evenly">
          <a href="{% url "Pre-registro" recorrido.id_recorrido %}" class="btn btn-success px-4 fw-bold text-black">Registrate</a>
          <a href="{% url "MostrarParticipantes" recorrido.id_recorrido %}"  class="btn btn-info px-4 fw-bold"
          data-bs-toggle="modal"
          data-bs-target="#participantesModal">Ver participantes</a>
      </div>
    </div>
    {% endif %}
  </div>
</section>
{% endblock contenido %}
