{% extends "principal/principal.html" %}
{% load static %}
{% block contenido %}
<section class="my-3 px-2">
<div class="container py-4 my-5 container__color rounded-4">
<h3 class="fw-bolder text-center">Detalle del recorrido</h3>
<p class="text-center">Aqui se muestran todos los detalles del recorrido</p>
<div class="row justify-content-center py-3 my-3">
    <div class="col-md-4 col-sm-12 ps-md-5 ps-sm-5 py-4">
        <p><span class="fw-bolder">Costo:</span> $200</p>
        <p><span class="fw-bolder">Ciudad:</span> Pátzcuaro</p>
        <p><span class="fw-bolder">Fecha:</span> 05/06/2024</p>
        <p><span class="fw-bolder">Punto de inicio:</span> Entrada de Pátzcuaro</p>
        <p><span class="fw-bolder">Hora de salida:</span> 9:00 am</p>
        <p><span class="fw-bolder">Hora de llegada:</span> 2:30pm</p>
        <p><span class="fw-bolder">Estado de recorrido:</span> Activo</p>
    </div>
    <div class="col-md-6 col-sm-12 text-md-end text-center justify-content-sm-center">
        <img src="{% static "principal/img/lago.jpg" %}" class="img-fluid w-75 h-100 rounded-2" alt="">
    </div> 
</div>
<div class="row justify-content-center">
        <div class="text-center ">
            <button type="button" class="btn btn-info px-4 fw-bold">Participantes</button>
        </div>
    </div>
</div>
</section>
{% endblock contenido %}