{% load static %}
<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block tituloApp %}{% endblock tituloApp %}</title>
    <link rel="stylesheet" href="{% static "principal/bootstrap-5.3.3-dist/css/bootstrap.min.css" %}">
    <link rel="stylesheet" href="{% static "principal/css/style.css" %}">
</head>

<body>
        <!-- Barra de navegación -->
    <nav class="navbar navbar-expand-lg navbar-light" style="background-color: white;">

        <div class="container-fluid flex-row-reverse">
            <div class="navbar-brand ">
                <img src="{% static "principal/img/logo.PNG" %}" class="me-md-3" alt="">
            </div>
            <!-- Elementos a la izquierda -->
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-between" id="navbarNav">
                <ul class="navbar-nav ps-md-5">
                    <li class="nav-item">
                        <a class="nav-link {% if request.path == "/"  %}active{% endif %}" aria-current="page" href="{% url 'Principal'%}">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {% if request.path == "/Recorridos-Proximos/"  %}active{% endif %}" href="{% url 'RecorridosProximos'%}">Recorridos Próximos</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {% if request.path == "/Recorridos-Finalizados/"  %}active{% endif %}" href="{% url 'RecorridosFinalizados'%}">Recorridos Finalizados</a>
                    </li>
                    {% if  "detalle" in request.path %}
                    <li class="nav-item">
                        <a class="nav-link {% if "detalle" in request.path  %}active{% endif %}" href="{% url 'Detalle' recorrido.id_recorrido%}">Detalles del Recorrido</a>
                    </li>
                    {% endif %}
                    {% if "pre-registro" in request.path %}
                    <li class="nav-item">
                        <a class="nav-link {% if "pre-registro" in request.path  %}active{% endif %}" href="{% url 'Pre-registro' recorrido.id_recorrido%}">Pre-Registro</a>
                    </li>
                    {% endif %}
                    
                    {% if user.is_authenticated %}
                        <li class="nav-item"><a class="nav-link" href="/admin/">Administrador</a></li>
                    {% else %}
                        <li class="nav-item"><a class="nav-link" href="/admin/">Iniciar sesión</a></li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>
    <!-- Fin de la barra de navegación -->

    <main>
            {% block contenido %}{% endblock contenido %}
    </main>
    <footer class="d-flex align-items-center text-center py-3" style="background-color: white;">
        <img src="{%static "principal/img/logo.PNG"%}" alt="BiciTour Logo" class="img-fluid me-3" style="height: auto; max-width: 150px;">
        <p class="mb-0 mx-auto">&copy; 2024 <strong>BiciTour</strong>. Todos los derechos reservados.</p>
    </footer>
    {% include "principal/Modals.html" %}
    <script src="{% static "principal/bootstrap-5.3.3-dist/js/bootstrap.bundle.js" %}"></script>
</body>

</html>