<!-- Modal -->
<div
  class="modal fade"
  id="participantesModal"
  tabindex="-1"
  aria-labelledby="participantesModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
        <h1 class="modal-title fs-3 fw-bold text-center" id="participantesModalLabel">
          Participantes
        </h1>
      <div class="modal-body">
        <div class="table-responsive">
          <table class="table table-striped table-bordered text-center">
            <thead>
              <tr>
                <th scope="col">Nombre</th>
                <th scope="col">Estado</th>
                <th scope="col">Ciudad</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Roberto Díaz</td>
                <td>Guerrero</td>
                <td>Zihuatanejo</td>
              </tr>
              <tr>
                <td>Migue Jimenez</td>
                <td>Guerrero</td>
                <td>Zihuatanejo</td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="row text-center">
          <div class="col">
            <button type="button" class="btn btn-info" data-bs-dismiss="modal">
              Aceptar
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
