body {
    background-color: #DBE9ED;
}

#header{
    background: #0dcaf0;
    color: #ffff;
}

footer{
    width: 100%;
    text-align: center;
    /* color de prueba */
    background-color: #0dcaf0;
    color: #ffff;
    padding: 1rem 0px;
    position: absolute;
    bottom: 0;
}