:root {
    --bg-color-primary: #DBE9ED;
    --bg-secondary-color: #98E4FA;
    --text-color-primary: #ffff;
    --text-color-secondary: #000000;
}

body {
    background-color: var(--bg-color-primary); 
}

#header {
    background: var(--bg-secondary-color);
    color: var(--text-color-secondary);
}

#branding {
    color: var(--bg-color-primary);
}

#site-name {
    color: var(--text-color-secondary);
    font-weight: 600;
}

#site-name a:link,
#site-name a:visited {
    color: var(--text-color-secondary);
}

#header a:link,
#header a:visited,
#logout-form button {
    color: var(--text-color-secondary);
}

#user-tools a,
#logout-form button {
    border-bottom: 1px solid var(--text-color-secondary);
}

.content_title {
    color: var(--text-color-secondary);
    font-weight: 600;
}

.content{
    width: 100vh;
    position: relative;
    padding-bottom: 5rem;
 }
footer {
    width: 100%;
    height: 90px;
    /* color de prueba */
    background-color: var(--bg-secondary-color);
    color: var(--text-color-secondary);
    position: absolute;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: auto;
}

.footer__text {
    width: 80%;
    text-align: center;
}


.footer__img {
    max-width: 150px;
    max-height: 75px;
}


@media (max-width:550px) {

    footer {
        height: 3rem;
        position: absolute;
        bottom: 0;
    }

    .footer__text {
        width: 100%;
        margin-right: 0px;
    }

    .footer__img {
        display: none;
    }
}