{% extends "admin/base.html" %}
{% load static %}

{% block title %}BiciTour!{% endblock %}

{% block extrahead %}
<link rel="stylesheet" type="text/css" href="{% static 'admin/css/admin.css' %}">
{% endblock %}

{% block branding %}
<div id="site-name"><a href="{% url 'admin:index' %}">Bicitour!</a></div>
{% if user.is_anonymous %}
  {% include "admin/color_theme_toggle.html" %}
{% endif %}
{% endblock %}

{% block nav-global %}{% endblock %}

{% block footer %}
<footer>
    <p>&copy; 2024 BiciTour! Todos los derechos reservados.</p>
</footer>
{% endblock %}
